@media (max-width: 1200px) {
    .about-large-content {
        padding: 40px 45px 80px 45px;

        p {
            line-height: unset;
        }
    }
}

@media (max-width: 992px) {
    .lf-offcanvas {
        .navbar-nav .nav-link {
            color: white !important;
            text-align: left;
            padding-inline: 10px;
            margin-inline: 0;
        }
    }
    .navbar .navbar-nav .nav-link:hover {
        color: black !important;
    }
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .dropdown-item.active {
        color: black !important;
    }
    .nav-select {
        background: transparent;
        justify-content: space-between;
    }
    .login-btn-mob {
        display: block;
    }
    .language-dropdown {
        background-color: white;
        justify-content: center;
        height: 40px;

    }
    .lang-drop-container {
        width: 100%;

        .dropdown-menu.show {
            width: 100%;
        }
    }
    .login-btn-mob {
        border: 1px solid #FFFFFF;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 15px;
        border-radius: 9px;

        &:hover {
            background-color: white !important;
            color: $primary-color;
            border-color: white !important;
        }
    }
    .navbar-nav {
        .dropdown-toggle::after {
            filter: brightness(100);
        }
    }

    .btn-close {
        filter: invert(1);
        opacity: 1;
    }
    .mob-btn-full {
        width: 100%;
    }
    .signup-header {
        min-height: 230px;
    }
    .signup-wrapper {
        bottom: unset;
        margin-top: 30px;
    }
    .home-header-container {
        text-align: center;
    }
    .home-header-desc {
        text-align: center;
        max-width: 100%;
        padding: 0 50px;
    }
    .home-pattern-img {
        text-align: right;

        img {
            transform: scaleX(-1);
        }
    }
    .home-img-section {
        margin-top: 70px;
    }
    .detail-section-container {
        h5 {
            font-size: 26px;
        }

        p {
            font-size: 23px;
            font-weight: 700;
            color: #B0B0B0;
        }
    }
    .detail-section-container {
        padding: 60px 0 100px 0;
    }
    .detail-lower-pattern, .detail-upper-pattern {
        display: none;
    }
    .solution-card {
        a {
            text-decoration: none;
            font-size: 21px;
        }
    }
    .business-plan-section {
        padding: 50px 0 50px 0;
        background-image: url(/assets/images/accounting-showcase-bg.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }
    .benefit-section {
        padding: 80px 0;
    }
    .document-header h2 {
        font-size: 35px;
    }
    .document-header h5 {
        font-size: 18px !important;
    }
    .contract-tags {
        max-width: 100%;
    }
    .document-header, .contract-section {
        padding: 70px 0;
    }
    .business-plan-section.document-section {
        background-size: contain;
        padding: 50px 0;
    }
    .lawyer-plan-section {
        .plan-card {
            min-height: 100%;
        }
    }
    .accounting-header .header-top {
        h2 {
            font-size: 40px;
        }

        h5 {
            font-size: 20px;
        }
    }
    .acounting-section {
        h1 {
            font-size: 30px;
        }
    }
    .translation-header .header-top {
        h2 {
            font-size: 40px;
        }

        h5 {
            font-size: 20px;
        }
    }
    .translation-service {
        .trans-stepper {
            transform: rotate(90deg);
        }
    }
    .translation-specialization {
        h1 {
            font-size: 35px;
        }
    }
    .about-content {
        border: 1px solid #E5E5E5;

        .top-right {
            right: -2px;
            top: -2px;
            max-width: 85%;
        }

        .top-left {
            left: -2px;
            top: -2px;
            max-width: 11%;
        }

        .bottom-right {
            bottom: -2px;
            right: 65px;
            max-width: 50%;
        }

        .bottom-left {

            left: -2px;
            bottom: -1px;
            max-width: 20%;
        }
    }
}

// CSS below and on 768 breakpoint //


@media (max-width: 768px) {
    .login-card {
        padding: 2rem 1.5rem;
        max-width: 100%;
    }
    .login-title {
        font-size: 35px;
    }
    .login-subtitle {
        font-size: 18px;
        padding: 0 40px;
    }

    .navbar-nav {
        text-align: center;
        margin-top: 1rem;
    }
    .payment-methods {
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-links {
        gap: 20px;
        text-align: center;
    }

    .social-icons {
        flex-wrap: wrap;
    }
    .main-title {
        font-size: 2rem;
    }

    .category-grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .contract-tags {
        gap: 0.8rem;
    }

    .contract-tag {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
    .login-card {
        border-radius: 8px;
    }
    .navbar {
        padding: 15px 20px;
    }
    .lf-offcanvas {
        width: 100% !important;
    }
    .custom-tabs .nav-link {
        font-size: 15px;
    }
    .registering-section {
        min-height: 350px;
        border-radius: 0;
        top: unset;
    }
    .home-services-section {
        img {
            max-width: 180px;
        }
    }
    .lawyer-underline {
        background-size: 65%;
        background-position: 90%;
    }
    .benefit-section {
        padding: 80px 10px;
    }
    .business-plan-section.document-section .header h2 {
        font-size: 30px;
    }
    .business-plan-section.document-section .header h5 {
        font-size: 18px !important;
    }
    .contact-card-section {
        padding: 50px 10px;
    }
    .contact-card-section {
        h1 {
            font-size: 20px;
        }
    }
    .lawyer-header .header-top h5 {
        max-width: 75%;
        font-weight: bold;
    }
    .lawyer-form-section {
        margin-bottom: 0;
        padding: 40px 10px;
    }
    .lawyer-header .header-top h2 {
        font-size: 40px;
    }
    .lawyer-header {
        padding: 70px 0;
    }
    .contact-container .header h2 {
        font-size: 40px;
    }
    .lawyer-header .header-top h2 {
        font-size: 40px;
    }
    .business-header .header h1 {
        font-size: 40px;
    }
    .faq-accordion .accordion-button{
        font-size: 17px;
        gap: 20px;
    }
    .simple-faq-tabs{
        padding: 0;
    }
    .privacy-policy-container h2, .terms-container h2, .faq-wrapper h2{
        font-size: 32px;
    }
    .home-header-container h1 {
        font-size: 50px;
    }
    .home-header-container h4 {
        font-size: 30px;
    }
    .home-services-section h1 {
        font-size: 40px;
    }
    .detail-section-container h1 {
        font-size: 40px;
    }
    .solution-sections h1 {
        font-size: 40px;
    }
    .process-section h2 {
        font-size: 40px;
    }
    .about-container h2 {
        font-size: 40px;
    }
    .service-container p{
        font-size: 14px;
        white-space: pre-wrap;
        left: 49%;
    }
}

@media (max-width: 576px) {
    .trans-spec-content img {
        max-width: 200px;
    }
    .privacy-wrapper, .terms-wrapper, .faq-wrapper {
        padding: 30px 0;
    }
    .privacy-policy-container li, .terms-container li {
        font-size: 16px;
    }
    .privacy-policy-container ul, .terms-container ul {
        padding: 0;
    }
    .home-header-desc{
        padding: 0;
    }
    .detail-section-container h5 {
        font-size: 20px;
    }
    .detail-section-container p {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .trans-spec-content p {
        top: 51%;
        left: 49%;
        font-size: 12px;

    }
    .trans-spec-content img {
        max-width: 140px;
    }
    .nav-pills.subscription-toggle .nav-link {
        font-size: 12px;
    }
    .home-services-section img {
        max-width: 140px;
    }
    .service-container p{
        font-size: 12px;
        left: 48%;
    }
}
