$primary-color: #0F898C;
$primary-hover: #EFFAFA;
$light-bg: #f8f9fa;
$gray-light: #e9ecef;
$gray-medium: #6c757d;
$text-muted: #999;


/* Hide spin buttons in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* Hide in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.form-control {
    height: 40px;
}

.card {
    border: none;
}

.primary {
    color: $primary-color;
}

.brown {
    color: #8F490F;
}

.navy {
    color: #02015A;
}

.btn-primary {
    background-color: $primary-color !important;
}

.fit-content {
    max-width: fit-content;
}

.max-100 {
    max-width: 100%;
}
