$primary-color: #0F898C;
$primary-hover: #EFFAFA;
$light-bg: #f8f9fa;
$gray-light: #e9ecef;
$gray-medium: #6c757d;
$text-muted: #999;

@font-face {
    font-family: 'Saudi';
    src: url('/assets/fonts/SaudiWeb-Bold.woff')
}

@font-face {
    font-family: 'Saudi-regular';
    src: url('/assets/fonts/SaudiWeb-Regular.woff')
}

/* Hide spin buttons in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;

}

.lf-heading {
    font-family: 'Saudi';
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}

.lf-subheading {
    font-family: 'Saudi';
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}

.saudi-regular {
    font-family: 'Saudi-regular';
}

.saudi {
    font-family: 'Saudi';
}

.ibm-plex {
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

/* Hide in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.form-control {
    height: 40px;
}

textarea.form-control {
    height: unset;
}

.card {
    border: none;
}

.primary {
    color: $primary-color;
}

.brown {
    color: #8F490F;
}

.navy {
    color: #02015A;
}

.btn-primary {
    background-color: $primary-color !important;
    font-size: 15px;
    border-color: $primary-color;
    border: none;

    &:hover {
        background-color: #2C3E50 !important;
        color: white;
    }

    &:focus {
        background-color: #24B4B7 !important;
        color: white;
    }
}

.fit-content {
    max-width: fit-content;
}

.max-100 {
    max-width: 100%;
}

.max-75 {
    max-width: 75%;
}

.max-50 {
    max-width: 50%;
}

input::placeholder {
    color: #BCBCBC !important;
}

.form-select {
    text-align: start;

    &:focus {
        box-shadow: none;
    }
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.dark-gray {
    color: #68708C;
}

.d-text-gray {
    color: #565656;
}

.essential-color {
    color: #A3D9A5;
}

.navbar-nav {
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        /* Add your custom icon here */
        background-image: url('/assets/images/drop-icon.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 8px; /* Adjust as needed */
        height: 8px; /* Adjust as needed */
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn-close:focus {
    box-shadow: none;
}

.btn {
    position: relative;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $primary-color;
}

.text-justify {
    text-align: justify !important;
}

.no-caret::after {
    display: none !important;
}

.custom-center-dropdown {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

input.is-invalid {
    background-image: url("data:image/svg+xml,%3Csvg ...error-icon...%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;

    // RTL support
    [dir="rtl"] & {
        background-position: left 0.75rem center !important;
    }
}

.form-select.is-invalid:not([multiple]):not([size]) {
    [dir="rtl"] & {
        background-position: left .75rem center, center left 2.25rem !important
    }
}

.margin-top {
    margin-top: -100px;
}

.padding-top {
    padding-top: 100px;
}

.input-group {
    direction: ltr !important;
}
.list-style-none{
    list-style-type: none !important;
}
